ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Week header */
.Week {
  padding: 70px 25px;
  width: 100%;
  background: black;
  text-align: center;
}

.Week ul {
  margin: 0;
  padding: 0;
}

.Week ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button */
.Week .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.Week .next {
  float: right;
  padding-top: 10px;
}

/* Table */
table.black {
  border: 1px solid grey;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.black td, table.black th {
  border: 1px solid grey;
  padding: 3px 2px;
}
table.black tbody td {
  font-size: 13px;
}
table.black thead {
  background: black;
  background: -moz-linear-gradient(black);
  background: -webkit-linear-gradient(black);
  background: linear-gradient(black);
  border-bottom: 2px solid black;
}
table.black thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.black tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  height: 170px;
}
table.black tfoot td {
  font-size: 14px;
}
 /* button */
.event {
  text-align: center;
  width: wrap;
  height: wrap;
  font-weight: bold;
  color: black;
  font-size: 20px;
 }