/* base colors - Color mode 1 */
.bg-a1 {
    background-color: rgb(209 213 219);
}
.bg-a2 {
    background-color: rgb(107 114 128);
}
.bg-a3 {
    background-color: rgb(55 65 81);
}

/* Color mode 2 */
.bg-b1 {
    background-color: #f2bc94;
}
.bg-b2 {
    background-color: #f4af1b;
}
.bg-b3 {
    background-color: #00154f;
}

/* Color mode 3 */
.bg-c1 {
    background-color: #ffb500;
}
.bg-c2 {
    background-color: #f93800;
}
.bg-c3 {
    background-color: #283350;
}

/* Color mode 4 */
.bg-d1 {
    background-color: #6caca0;
}
.bg-d2 {
    background-color: #c075b7;
}
.bg-d3 {
    background-color: #64395f;
}

.grid-head {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: solid 18px #3f3f46;
    border-right: solid 18px #3f3f46;
    border-bottom: solid 8px #3f3f46; 
    font-size: 30px;
    text-align: center;
  }

tr {
    border-top: 3px solid rgba(0, 0, 0, 0.8);
}

td {
    background-color: #94a3b8;
    color: #0f172a;
    font-weight: 600;
}

td:hover {
    background-color: #475569;
    color: #e2e8f0;
}


/* make the hover command work on the entire line and not just one box */